<!DOCTYPE html>
<html>
  <head>
    <title>Home page></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <header>
          <nav>
              <ul class="navbar">
                  <li><a href="/">Home page</a></li>
                  <li><a href="/user/">Connection</a></li>
                  <li><a href="/user/register/">Registration</a></li>
                  <li><a href="/newplace/">Create a new place</a></li>
              </ul>
          </nav>
      </header>
    <h1>WELCOME</h1>
    <h2>New places to visit</h2>

  </body>
</html>
