La page pour creer un nouveau lieu

/* les info du lieu */

/* les commentaires poste sur ce lieu */

/* le formulaire permettant de laisser un commentaire */

/* le bouttin pour recommander le lieu */

/* La page d'accueil */

<!DOCTYPE html>
<html>
  <head>
    <title>Recommendations></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

    <body>
        <form class="form-signin" action="/users/login" method="POST">
              <h2 class="form-signin-heading">Login</h2>

              <label for="inputEmail" class="sr-only">Email</label>
              <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" required autofocus>

              <label for="inputPassword" class="sr-only">Password</label>
              <input type="commentaire" id="inputComment" name="Comment" class="form-control" placeholder="Comment" required>
              <br/>
              <button class="btn btn-lg btn-default btn-block" type="submit">Publish</button>
        </form>
    </body>
</html>
